pkgbase = flightgear-data
	pkgdesc = Base-Data for the opensource flight-simulator.
	pkgver = 2018.1.1
	pkgrel = 1
	url = http://www.flightgear.org/
	arch = any
	license = GPL
	options = !strip
	source = http://downloads.sourceforge.net/project/flightgear/release-2018.1/FlightGear-2018.1.1-data.tar.bz2
	sha512sums = 022f102f95c9cd8b153d991dad55ecd182e71aa0f3ecfe1502a35d6dcda0746a1fd183f808e59aba8c7f3a0cc9ae1f2f91ff49565bff4c7bc5a1c4889fcc127f

pkgname = flightgear-data

