pkgbase = smath
	pkgdesc = A mathematical program with many features and paper-like interface, similar to Mathcad
	pkgver = 0_98_6179
	pkgrel = 1
	url = http://smath.info
	install = smath.install
	arch = i686
	arch = x86_64
	groups = math
	license = CCPL
	depends = mono
	backup = opt/smath/settings.inf
	source = http://smath.info/file/CrFXM/SMathStudioDesktop.0_98_6179.Mono.tar.gz
	source = smath.desktop
	source = smath.sh
	source = SMathStudioLogo256.png
	md5sums = 963250d74ddfabf7c7806d6ef95ca66c
	md5sums = af70c1bfb5bcdaab7f952339ebb2435e
	md5sums = 0fdae1290cd04c8cd54db95b3ec85ccf
	md5sums = ed3720462decbcfa63df5c9d04fb03f9

pkgname = smath

