pkgbase = dsview
	pkgdesc = Client software that supports the DreamSourceLab logic analyzer
	pkgver = 0.98
	pkgrel = 4
	url = http://www.dreamsourcelab.com/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = boost
	depends = boost-libs
	depends = qt5-base
	depends = libsigrokdecode4dsl
	depends = libsigrok4dsl
	depends = fftw
	source = https://github.com/DreamSourceLab/DSView/archive/0.98.tar.gz
	source = udev.rules
	source = dsview.desktop
	md5sums = 4515ede78609cb8aa4d65fce3ce76113
	md5sums = af6d97ba0fbea628e320bdb4b469b766
	md5sums = fa43a76bd84cbab060e1aeac1e9fa46c

pkgname = dsview

