[Desktop Entry]
Exec=dsview
Name=DSView
Icon=dsview
Comment=GUI Program for DreamSourceLab USB-based Instruments
Type=Application
Categories=Development
