pkgbase = yakuake-git
	pkgdesc = A drop-down terminal emulator based on KDE Konsole technology. (GIT version)
	pkgver = v3.0.5.2.g02dd8ab
	pkgrel = 1
	url = https://www.kde.org/applications/system/yakuake
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = python
	depends = knewstuff
	depends = konsole
	depends = kwayland
	depends = hicolor-icon-theme
	provides = yakuake
	conflicts = yakuake
	source = git://anongit.kde.org/yakuake.git
	source = blur.diff::https://phabricator.kde.org/file/data/scvjlluzbhnln2d6dbny/PHID-FILE-gwymmircmhmf7c5frpnq/D10063.diff
	sha1sums = SKIP
	sha1sums = bd50773c687c67c659e721efc0835f207aac7c53

pkgname = yakuake-git

